@import "node_modules/powerbi-visuals-utils-chartutils/lib/index.css";
@import "node_modules/powerbi-visuals-utils-interactivityutils/lib/index.css";

.clearCatcher {
    opacity: 0;
}

.legend {
    font-size: 10px;
}

.legend-item {
    margin-left: 10px;
    margin-right: 10px;
}

.main-svg {
    position: absolute;
    font-size: 16px;
}
